<ion-header translucent="true" no-border>
  <ion-toolbar mode="ios" style="--min-height: 25px">
    <!-- <ion-title>{{programa.name}}</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
    </ion-buttons>
    <ion-title>Preguntas UPC</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-icon name="exit" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image no-scroll">
  <ion-item lines="none">
    <ion-label>usuario: <strong>{{jugador.user}}</strong></ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label><strong>{{programa.name}}</strong></ion-label>
  </ion-item>
</ion-content>
<ion-footer no-border translucent="true">
  <ion-toolbar>
      <ion-item lines="none">
          <ion-label>Dificultad</ion-label>
          <ion-select placeholder="Seleccionar Nivel" [(ngModel)]="level" interface="popover">
            <ion-select-option value="1">Facil</ion-select-option>
            <ion-select-option value="2">Intermedio</ion-select-option>
            <ion-select-option value="3">Dificil</ion-select-option>
          </ion-select>
        </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="jugar()">
        <ion-icon slot="end" name="play"></ion-icon>
        Jugar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>