<ion-header no-border>
  <ion-toolbar>
    <ion-title color="primary">registrarse</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formAdd" (submit)="add()" novalidate>
    <ion-list>
      <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Programa</ion-label>
          <ion-select placeholder="Seleccionar carrera" interface="popover" formControlName="programa">
            <ion-select-option *ngFor="let programa of programas" value="{{programa.id}}">{{programa.name}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" formControlName="user"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="pass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rol</ion-label>
        <p start="end">Estudiante</p>
      </ion-item>
    </ion-list>
    <ion-button expand="block" shape="round" type="submit">
      Registrarse
    </ion-button>
  </form>
</ion-content>
